{
  "presets": [
    ["env", {
      "targets": { "electron": "8.0" }
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
