{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
  },
  "rules": {
    "no-alert": 0,
    "no-console": 0,
    "react/destructuring-assignment": 0,
  },
  "plugins": [
    "react"
  ]
}
