{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false
    }],
    "no-console": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "react/jsx-one-expression-per-line": 0,
    "object-curly-newline": 0,
    "arrow-parens": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "react/prop-types": 0,
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0, "maxEOF": 0 }]
  }
}
