node_modules
.DS_Store
*.provisionprofile

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/dist
/out
/icon-build
/build-resources
/notes
/ffmpeg
/app*.log
/main-ts-dist
/common-ts-dist

tsconfig.*.tsbuildinfo