/*
https://www.radix-ui.com/docs/colors/palette-composition/the-scales
https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale
*/
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';


html {
  font-family: 'Open Sans', 'Noto Sans SemiCondensed', 'Noto Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
  background: black;
}

/* https://github.com/electron/electron/issues/2538 */
.no-user-select :not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: var(--gray-11);
    vertical-align: middle;
    background-color: var(--gray-4);
    border: solid 1px var(--gray-8);
    border-bottom-color: var(--gray-8);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--gray-8);
}

code.highlighted {
  background-color: var(--gray-4);
  border-radius: .2em;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.consistent-scrollbar::-webkit-scrollbar {
  width: .5em;
}
.consistent-scrollbar::-webkit-scrollbar-track-piece {
  background: transparent;
}
.consistent-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray-11);
  border-radius: .1em;
}

.swal2-losslesscut-radio {
  font-size: 0.8em;
  flex-direction: column;
  /* !important is important: https://github.com/mifi/lossless-cut/issues/541#issuecomment-750003650 */
  align-items: flex-start !important;
  text-align: left;
}

.segment-list-entry .enabled {
  display: none;
}

.segment-list-entry:hover .enabled {
  display: inherit;
}

.button-unstyled {
  all: unset;
  cursor: pointer;
}
.button-unstyled:focus {
  outline: revert;
}

.link-button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: .15em;
  text-decoration-thickness: .05em;
}
.link-button:focus {
  outline: revert;
}
