.button {
  appearance: none;
  font: inherit;
  line-height: 1.2;
  font-size: .8em;
  background-color: var(--gray-3);
  color: var(--gray-12);
  border-radius: .3em;
  padding: 0 .5em;
  outline: .05em solid var(--gray-8);
  border: .05em solid var(--gray-7);
  cursor: pointer;
  outline-offset: 0;
}

.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button:focus {
  outline: .1em solid var(--gray-12);
}

.button:hover {
  filter: brightness(1.2);
}
