.CheckboxRoot {
  all: unset
}

.CheckboxRoot {
  flex-shrink: 0;
  background-color: var(--gray-1);
  width: 1em;
  height: 1em;
  border: .1em solid var(--gray-8);
  border-radius: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px var(--gray-1);
}
.CheckboxRoot:hover {
  background-color: var(--gray-3);
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 .1em var(--gray-10);
}

.CheckboxIndicator {
  color: var(--gray-12);
}

.CheckboxRoot[data-disabled]{
  opacity: .5;
}

.Label {
  padding-left: .5em;
  line-height: 1.2;
}
