.DropdownMenuContent {
	font-size: .9em;
  color: var(--gray-12);
	min-width: 10em;
  border: .1em solid var(--gray-3);
	background-color: var(--gray-1);
	border-radius: .3em;
	padding: .2em;
	box-shadow:
		0px 1em 3.8em -1em rgba(22, 23, 24, 0.35),
		0px 1em 2em -1.5em rgba(22, 23, 24, 0.2);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"] {
	animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"] {
	animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"] {
	animation-name: slideRightAndFade;
}

.DropdownMenuItem {
	line-height: 1.2;
	display: flex;
	align-items: center;
	padding: .5em .8em;
  border-radius: .3em;
	position: relative;
	user-select: none;
	outline: none;
}
.DropdownMenuItem[data-disabled],
.DropdownMenuItem[data-highlighted] {
  background-color: var(--gray-3);
  cursor: pointer;
}

.DropdownMenuSeparator {
	height: .1em;
	background-color: var(--gray-3);
	margin: .1em .5em;
}

.DropdownMenuArrow {
	fill: var(--gray-3);
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-.2em);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(.2em);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(.2em);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}