.wrapper {
  display: flex;
  margin: 0 .3em;
  padding: .5em;
  border-radius: .3em;
  color: var(--gray-12);
  background: var(--white-a8);
  box-shadow: 0 0 .3em .3em var(--white-a5);
  backdrop-filter: blur(7px);
}

:global(.dark-theme) .wrapper {
  background: var(--black-a8);
  box-shadow: 0 0 .3em .3em var(--black-a5);
}
