.settings td {
  vertical-align: top;
}

.settings td:first-child, .settings th:first-child {
  padding: 1em 1em 1em 0;
}
.settings td:nth-child(2), .settings th:nth-child(2) {
  padding: 1em 0 1em 0;
  width: 15em;
}

.settings th {
  text-align: left;
}

.settings tr.header {
  border-bottom: .1em solid var(--black-a3);
}

:global(.dark-theme) .settings tr.header {
  border-bottom: .1em solid var(--white-a4);
}

.settings {
  border-collapse: collapse;
}
