.value-tuner {
  min-width: 20em;
  position: absolute;
  bottom: 0;
  padding: 2em;
  margin: 1.3em;
  border-radius: 1em;
  color: var(--gray12);
  background: var(--whiteA9);
  box-shadow: 0 0 .3em .3em var(--whiteA8);
  backdrop-filter: blur(30px);
}

:global(.dark-theme) .value-tuner {
  background: var(--blackA9);
  box-shadow: 0 0 .3em .3em var(--blackA8);
}
