.button {
  appearance: none;
  font: inherit;
  line-height: 140%;
  font-size: .8em;
  background-color: var(--gray3);
  color: var(--gray12);
  border-radius: .3em;
  padding: 0 .5em 0 .3em;
  outline: .05em solid var(--gray8);
  border: .05em solid var(--gray7);
}
