/* noto-sans-300 */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans SemiCondensed Light'), local('NotoSans-SemiCondensedLight'),
       url('./fonts/notosans-sc300light.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-300italic */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: italic;
  font-weight: 300;
  src: local('Noto Sans SemiCondensed Light Italic'), local('NotoSans-SemiCondensedLightItalic'),
       url('./fonts/notosans-sc300lightitalic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-regular */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans SemiCondensed'), local('NotoSans-SemiCondensed'),
       url('./fonts/notosans-sc400regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-italic */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans SemiCondensed Italic'), local('NotoSans-SemiCondensedItalic'),
       url('./fonts/notosans-sc400regularitalic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-600 */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans SemiCondensed SemiBold'), local('NotoSans-SemiCondensedSemiBold'),
       url('./fonts/notosans-sc600semibold.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-600italic */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: italic;
  font-weight: 600;
  src: local('Noto Sans SemiCondensed SemiBold Italic'), local('NotoSans-SemiCondensedSemiBoldItalic'),
       url('./fonts/notosans-sc600semibolditalic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-700 */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans SemiCondensed Bold'), local('NotoSans-SemiCondensedBold'),
       url('./fonts/notosans-sc700bold.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-700italic */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans SemiCondensed Bold Italic'), local('NotoSans-SemiCondensedBoldItalic'),
       url('./fonts/notosans-sc700bolditalic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-800 */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: normal;
  font-weight: 800;
  src: local('Noto Sans SemiCondensed ExtraBold'), local('NotoSans-SemiCondensedExtraBold'),
       url('./fonts/notosans-sc800extrabold.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* noto-sans-800italic */
@font-face {
  font-family: 'Noto Sans SemiCondensed';
  font-style: italic;
  font-weight: 800;
  src: local('Noto Sans SemiCondensed ExtraBold Italic'), local('NotoSans-SemiCondensedExtraBoldItalic'),
       url('./fonts/notosans-sc800extrabolditalic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}