/*
https://www.radix-ui.com/docs/colors/palette-composition/the-scales
https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale
*/
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/redDark.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/greenDark.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyanDark.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/grayDark.css';
@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/whiteA.css';


html {
  font-family: 'Open Sans', 'Noto Sans SemiCondensed', 'Noto Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
  background: black;
}

/* https://github.com/electron/electron/issues/2538 */
.no-user-select :not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: var(--gray11);
    vertical-align: middle;
    background-color: var(--gray4);
    border: solid 1px var(--gray8);
    border-bottom-color: var(--gray8);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--gray8);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.swal2-losslesscut-radio {
  font-size: 0.8em;
  flex-direction: column;
  /* !important is important: https://github.com/mifi/lossless-cut/issues/541#issuecomment-750003650 */
  align-items: flex-start !important;
  text-align: left;
}

.segment-list-entry .enabled {
  display: none;
}

.segment-list-entry:hover .enabled {
  display: inherit;
}
