html {
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
  background: black;
}

/* https://github.com/electron/electron/issues/2538 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

.button {
  border-radius: 3px;
  padding: .4em;
  vertical-align: middle;
}

.controls-wrapper button, .right-menu button, .left-menu button, .controls-wrapper input {
  background: white;
  border-radius: .3em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  vertical-align: middle;
  padding: 0 .5em;
  margin: 0 3px;
  border: none;
  height: 18px;
  box-sizing: border-box;
  font-family: inherit;
}

.controls-wrapper button:active, .right-menu button:active, .left-menu button:active  {
  background: #ccc;
}


.right-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .3em;
}

.controls-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6b6b6b;
  text-align: center;
}

.help-sheet {
  background: #525252;
  color: white;
  padding: 1em 2em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: scroll;
}

.help-sheet h1 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.help-sheet kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.dragging-helper-class {
  color: rgba(0,0,0,0.5);
}

#timeline-scroller::-webkit-scrollbar {
  display: none;
}