html {
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
  background: black;
}

/* https://github.com/electron/electron/issues/2538 */
.no-user-select :not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.help-sheet, .settings-sheet {
  padding: 1em 2em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: scroll;
}

.help-sheet {
  background: #6b6b6b;
  color: white;
}

.settings-sheet {
  background: white;
  color: black;
}

.help-sheet h1, .settings-sheet h1 {
  font-size: 1.2em;
  margin-bottom: .5em;
  margin-top: 1.3em;
  text-transform: uppercase;
}

.help-sheet h2, .settings-sheet h2 {
  font-size: 1em;
  margin-bottom: .5em;
  text-transform: uppercase;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fdfdfd;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.dragging-helper-class {
  color: rgba(0,0,0,0.5);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
